name: ci-matrix

on:
  push:

jobs:
  test-define-matrix:
    name: Define Matrix
    runs-on: ubuntu-latest
    outputs:
      configs: ${{ steps.pantalon.outputs.configs }}

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: 1.25

      - name: Download Dependencies
        run: go mod download

      - name: Build
        run: go build -o pantalon ./cmd/pantalon

      # - name: Run changed-files with dir_names
      #   id: changed-dirs
      #   uses: tj-actions/changed-files@v45
      #   with:
      #     dir_names: "true"

      - name: Mock Get Changed Directories
        id: changed-dirs
        run: |
          echo 'all_changed_files=["testdata/terraform/single-dir","examples/terraform/compute"]' >> $GITHUB_OUTPUT

      - name: Get Pantalon Configs
        id: pantalon
        env:
          CHANGED_DIRS: ${{ steps.changed-dirs.outputs.all_changed_files }}
        run: |
          CONFIGS=$(./pantalon --changed-dirs="${CHANGED_DIRS}")

          echo "Configs: "
          echo "$CONFIGS" | jq '.'
          echo "configs=$CONFIGS" >> "$GITHUB_OUTPUT"

  test-using-matrix:
    name: ${{ matrix.configs.name }} TF Plan
    runs-on: ubuntu-latest
    needs: test-define-matrix
    strategy:
      matrix:
        configs: ${{ fromJSON(needs.test-define-matrix.outputs.configs) }}

    defaults:
      run:
        working-directory: ${{ matrix.configs.dir }}

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Print Context
        run: |
          echo "Service Account: ${{ matrix.configs.context.gcp-service-account }}"

      - name: Print working directory
        run: |
          pwd
