on:
  push: {}
  pull_request:
    branches:
      - main
  workflow_dispatch:

name: CI

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.25.5"
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - run: go test -v ./...
