on:
  push: {}
  pull_request:
    branches:
      - main
  workflow_dispatch:

name: CI

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.25.4"
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: go test -v ./...
